section {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
		font: 500 2rem "Roboto", sans-serif;
		text-align: center;
		color: orange;
		margin-top: 1.5rem;
	}

    ul {
        li {
            font: 400 1rem "Open Sans", sans-serif;
            margin: 0.5rem 0;
            text-align: center;
        }
    }
}